
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="robots" content="noarchive">

<meta name="description" content="東京都江東区、世田谷区、豊島区の売マンション（新築・中古）【価格（1,000万円以上、2,000万円未満）、築年数（5年以内）】をエリア検索するなら「不動産ジャパン」！エリア検索、路線検索、こだわり条件検索もでき、たくさんの物件情報からあなたにぴったりの物件が探せます。" />
<meta name="keywords" content="不動産,不動産取引,基礎知識,物件情報,不動産流通4団体,国土交通省,不動産流通推進センター,不動産ジャパン" />


  <title>【不動産ジャパン】エリア検索結果一覧：東京都江東区、世田谷区、豊島区の売マンション（新築・中古）【価格（1,000万円以上、2,000万円未満）、築年数（5年以内）】を探す</title>

<link href="/css/import.css" rel="stylesheet" type="text/css" />
<link href="/css/print.css" rel="stylesheet" type="text/css" media="print" />
<link href="/css/top_bg.css" rel="stylesheet" type="text/css" />
<link href="/css/top1404.css" rel="stylesheet" type="text/css" />
<link href="/css/search_css/import_search.css" rel="stylesheet" type="text/css" />
<script src="/js/AC_RunActiveContent.js" type="text/javascript"></script>
<link href="/system/search_css/base.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--all start-->
<div class="all">
<div id="head" class="crearfix">
<span id="site_explanation">安心・安全な不動産取引をサポートする総合情報サイト～物件選びからトラブル対応まで【不動産ジャパン】</span>
<p class="font_size"><img src="/images/menu/size.gif" alt="文字サイズ" width="72" height="19" />
<a href="#" onclick="document.body.style.fontSize='75%'"><img src="/images/menu/s.jpg" alt="小" width="24" height="24" /></a>
<a href="#" onclick="document.body.style.fontSize='81.25%'"><img src="/images/menu/m.jpg" alt="中" width="24" height="24" /></a>
<a href="#" onclick="document.body.style.fontSize='100%'"><img src="/images/menu/l.jpg" alt="大" width="24" height="24" /></a></p>
      
      <!--サブナビ-->
    <div class="subu_manu"><h2><a href="http://www.fudousan.or.jp/"><img src="/images/menu/rogo_01.gif" alt="不動産ジャパン" width="221" height="45" /></a></h2>
            <ul>
              <li class="no_line"><a href="/others/aboutus.html">不動産ジャパンについて</a></li>
              <li><a href="/others/sitemap.html">サイトマップ</a></li>
              <li><a href="/inquiry/index.html">物件情報以外のお問合せ</a></li>
              <li><a href="http://www.kindaika.jp" target="_blank">運営：公益財団法人不動産流通推進センター</a></li>
              <li><a href="/association/index.html">参加団体</a></li>
            </ul>
    </div>
        <!--サブナビ　ここまで-->
      
      <!--メインナビ-->
      <ul id="pulldown_menu">
       <li id="con1"><a href="#"><span>不動産検索・不動産会社情報</span></a><ul>
       <li id="con1_1"><a href="/top/buy.html#buy"><span>不動産を探す【買う】</span></a></li>
       <li id="con1_2"><a href="/top/rent.html#rent"><span>不動産を探す【借りる】</span></a></li>
       <li id="con1_3"><a href="/search/kaisya/index.html"><span>不動産会社検索サービス</span></a></li>
       <li id="con1_4"><a href="/report/index.html"><span>街の不動産会社レポート</span></a></li>
       <li id="con1_5"><a href="/association/index.html"><span>業界団体を調べる</span></a></li>
       <li id="con1_6"><a href="/gyoseiinfo/index.html"><span>行政処分情報</span></a></li>
       </ul>
       </li>
       <li id="con2"><a href="#"><span>住まい探しのお役立ち情報</span></a><ul>
       <li id="con2_1"><a href="/jyukankyo/index.html"><span>住環境を調べる</span></a></li>
       <li id="con2_2"><a href="/jyukankyo/jyosei/index.html"><span>住宅関連助成など</span></a></li>
       <li id="con2_3"><a href="/jyukankyo/child/index.html"><span>子育て支援サービス</span></a></li>
       <li id="con2_4"><a href="/jyukankyo/bosai/index.html"><span>防災関連情報</span></a></li>
       <li id="con2_5"><a href="/jyukankyo/bohan/index.html"><span>防犯関連情報</span></a></li>
       <li id="con2_6"><a href="/jyukankyo/jichitai/index.html"><span>各自治体の情報</span></a></li>
       <li id="con2_7"><a href="/trend/index.html"><span>相場・取引動向</span></a></li>
       </ul>
       </li>
       <li id="con3"><a href="#"><span>住まい探し講座</span></a><ul>
       <li id="con3_1"><a href="/kiso/buy/index.html"><span>基礎知識【買う】</span></a></li>
       <li id="con3_2"><a href="/kiso/rent/index.html"><span>基礎知識【借りる】</span></a></li>
       <li id="con3_3"><a href="/kiso/sale/index.html"><span>基礎知識【売る】</span></a></li>
       <li id="con3_4"><a href="/kiso/lease/index.html"><span>基礎知識【貸す】</span></a></li>
       <li id="con3_7"><a href="/kiso/buy/index.html#reform"><span>基礎知識【リフォーム】</span></a></li>
       <li id="con3_5"><a href="/trouble/index.html"><span>住まいのトラブル相談室</span></a></li>
       <li id="con3_6"><a href="/tools/index.html"><span>不動産便利ツール</span></a></li>
       </ul>
       </li>
       <li id="con4"><a href="/topics/index.html"><span>不動産トピックス</span></a></li>
       <li id="con5"><a href="http://www.fudousan.or.jp/"><span>トップ</span></a></li>
      </ul>       
      <!--メインナビ　ここまで-->
      
      <!--tabナビ-->
      <div id="tab_nav">
      <ul id="tab_menu">
       <li id="cot1"><a href="/top/buy.html"><span>買うトップ</span></a></li>
       <li id="cot2"><a href="/top/rent.html"><span>借りるトップ</span></a></li>
       <li id="cot3"><a href="/top/sale.html"><span>売るトップ</span></a></li>
       <li id="cot4"><a href="/top/lease.html"><span>貸すトップ</span></a></li>
       <li id="cot5"><a href="#"><span>マイリスト</span></a><ul>
       <li id="cot5_1"><a href="/system/?act=v&amp;type=19"><span>マイリスト：買う</span></a></li>
       <li id="cot5_2"><a href="/system/?act=v&amp;type=39"><span>マイリスト：借りる</span></a></li>
       </ul>
       </li>
       <li id="cot6"><a href="/check/index.html"><span>不動産力チェック</span></a></li>
       <li id="cot7"><a href="/keywords/index.html"><span>話題の不動産キーワード</span></a>
          </li>
      </ul>    
      </div> 
      <!--tabナビ　ここまで-->   
        
</div><!--head end-->
</div>
<!--all end-->

    <!--all_cont start-->
    <div class="all_cont">
      <!--コンテンツstart-->
      <div id="cont">
        <!-- 動的コンテンツ -->
        <p id="pankuzu">
<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<a href="/" itemprop="url"><nobr><span itemprop="title">トップ</span></nobr></a>
</span>＞<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<a href="http://www.fudousan.or.jp/top/buy.html" itemprop="url"><nobr><span itemprop="title">【買う】トップ</span></nobr></a>
</span>＞<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<a href="./?act=m&type=12" itemprop="url"><nobr><span itemprop="title">不動産物件検索 ： マンション（新築・中古）  </span></nobr></a>
</span>＞<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<a href="./?act=f&type=12&pref=13&stype=l" itemprop="url"><nobr><span itemprop="title">エリア検索（東京都）</span></nobr></a>
</span>＞<span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<nobr><span itemprop="title">物件一覧</span></nobr>
</span>
</p>
<div class="content-title"><div class="content-title-img"></div><div class="content-title-text">
<h1>エリア検索結果一覧：東京都江東区、世田谷区、豊島区の売マンション（新築・中古）【価格（1,000万円以上、2,000万円未満）、築年数（5年以内）】を探す</h1>
</div></div>
      <!--メニュー選択 start-->
      <table class="menu_selection" summary="メニュー選択">
        <tr>
          <td>
            <ul>
              <!--
              <li>新築マンション（<a href="./?act=m&type=11">分譲</a>・<a href="./?act=m&type=12">仲介</a>）</li>
              <li><a href="./?act=m&type=12">中古マンション</a></li>
              <li>新築一戸建て（<a href="./?act=m&type=13">分譲</a>・<a href="./?act=m&type=14">仲介</a>）</li>
              <li><a href="./?act=m&type=14">中古一戸建て</a></li>
              <li>土地（<a href="./?act=m&type=15">分譲</a>・<a href="./?act=m&type=16">仲介</a>）</li>
              <li><a href="./?act=m&type=17">事業用物件</a>（事務所・店舗など）</li>
              <li class="icon_q"><a href="/search/buy/chigai.html" target="_blank">分譲と仲介の違いについて</a></li>
              -->
              <li><a href="./?act=l&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116">マンション（新築・中古）</a></li>
              <li><a href="./?act=l&type=14&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116">一戸建て（新築・中古）</a></li>
              <li><a href="./?act=l&type=16&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116">土地</a></li>
              <li><a href="./?act=l&type=11&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116">分譲マンション</a>・<a href="./?act=l&type=13&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116">分譲一戸建て</a>・<a href="./?act=l&type=15&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116">分譲土地</a></li>
              <li><a href="./?act=l&type=17&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116">事業用物件（事務所・店舗など）</a></li>
              <li class="icon_q"><a href="/search/buy/bunjyo.html" target="_blank">分譲とは</a></li>
            </ul>
          </td>
        </tr>
      </table>
      <!--メニュー選択 end-->

<h4 class="title_home_all">物件一覧（画像あり）</h4>
<form name="frmChange" action="./">
<input type="hidden" name="act" value="l" />
<input type="hidden" name="type" value="11" />
<input type="hidden" name="pref" value="13" />
<input type="hidden" name="stype" value="l" />
<input type="hidden" name="city[]" value="13108" />
<input type="hidden" name="city[]" value="13112" />
<input type="hidden" name="city[]" value="13116" />
<input type="hidden" name="pl" value="1" />
<input type="hidden" name="ph" value="2" />
<input type="hidden" name="asl" value="l" />
<input type="hidden" name="ash" value="h" />
<input type="hidden" name="yc" value="5" />
<input type="hidden" name="n" value="20" />
<input type="hidden" name="p" value="1" />
<input type="hidden" name="v" value="on" />
<input type="hidden" name="s" value="" />
</form>
<!--設定済み検索条件 start-->
<table class="result_all" summary="設定済み検索条件">
  <tr>
    <th colspan="2" class="midashi"><p>設定済み検索条件</p></th>
  </tr>
  <tr>
    <th><p>基本検索条件</p></th>
    <td>
      <ul>
      <li><nobr><em>・エリア検索(東京都)：</em>江東区、世田谷区、豊島区</nobr></li>
<li><nobr><em>・価格：</em>1,000万円以上～2,000万円未満</nobr></li>
<li><nobr><em>・専有面積：</em>下限なし～上限なし</nobr></li>
<li><nobr><em>・築年数：</em>5年以内</nobr></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th><p>こだわり検索条件</p></th>
    <td>
      <ul>
      <li>なし</li>
      </ul>
    </td>
  </tr>
</table>
<!--ボタン start-->
<div class="wd880">
  <ul>
    <!--##changeArea##-->
    <li>
      <a href="./?act=f&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5"><img src="/system/search_images/change_area.jpg" alt="エリア変更" width="142" height="46" border="0" /></a>
    </li>
    <!-- -->
    <!--
    <li>
      <a href="##lineselecturl##"><img src="/system/search_images/change_line.jpg" alt="路線変更" width="142" height="46" border="0" /></a>
    </li>
    <!-- -->
    <!--
    <li>
      <a href="##ekiselecturl##"><img src="/system/search_images/change_eki.jpg" alt="駅変更" width="142" height="46" border="0" /></a>
    </li>
    <!-- -->
    <li>
      <!--##saveMyList##-->
      <a href="./?act=v&type=19&sact=slistadd&param=act%3Dl%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5"><img src="/search/images/all_my.jpg" alt="検索条件をマイリストに保存" width="211" height="46" border="0" /></a>
      <!-- -->
    </li>
    <li>
      <a href="#a2"><img src="/search/images/all_change.jpg" alt="検索条件変更" width="142" height="46" border="0" /></a>
    </li>
  </ul>
</div>
<!--ボタン end-->

<script type="text/javascript"><!--
function resize(n) {
//  var frm = document.forms['frmOrgCond'];
  var frm = document.forms[1];
  frm.n.value = n;
  frm.p.value = 1;
  frm.submit();
}
function page(p) {
//  var frm = document.forms['frmOrgCond'];
  var frm = document.forms[1];
  frm.p.value = p;
  frm.submit();
}
function viewmode(v){
//  var frm = document.forms['frmOrgCond'];
  var frm = document.forms[1];
  if(v){
    frm.v.value = "on";
  } else {
    frm.v.value = "off";
  }
  frm.submit();
}
function sort(s){
//  var frm = document.forms['frmOrgCond'];
  var frm = document.forms[1];
  frm.p.value = 1;
  frm.s.value = s;
  frm.submit();
}
// --></script>
<form name="frmOrgCond" action="./">
  <input type="hidden" name="act" value="l" />
<input type="hidden" name="type" value="12" />
<input type="hidden" name="pref" value="13" />
<input type="hidden" name="stype" value="l" />
<input type="hidden" name="city[]" value="13108" />
<input type="hidden" name="city[]" value="13112" />
<input type="hidden" name="city[]" value="13116" />
<input type="hidden" name="pl" value="1" />
<input type="hidden" name="ph" value="2" />
<input type="hidden" name="asl" value="l" />
<input type="hidden" name="ash" value="h" />
<input type="hidden" name="yc" value="5" />
<input type="hidden" name="n" value="20" />
<input type="hidden" name="p" value="1" />
<input type="hidden" name="v" value="on" />
<input type="hidden" name="s" value="" />
</form>
<!--検索表示結果 start-->
<table class="result_out_no" cellspacing="0" cellpadding="0">
  <tr>
    <td><p><img src="/search/images/all_bg1.gif" width="880" height="21" /></p></td>
  </tr>
  <tr>
    <td>
      <table class="result_no">
        <tr>
          <th><p><span class="imp">検索結果:</span>　17件中　1～17件を表示</p></th>
          <td class="text_right">
            <p>
＜前へ&nbsp;&nbsp;1&nbsp;&nbsp;次へ＞
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <span class="imp">表示件数:</span>&nbsp;&nbsp;
              <select name="select" size="1" onchange="resize(this.options[this.selectedIndex].value)">
                <option value="20" selected>20件表示</option>
                <option value="50" ##select_50##>50件表示</option>
                <option value="100" ##select_100##>100件表示</option>
              </select>
            </p>
          </td>
          <td>
            <p>
              <span class="imp">画像:</span>&nbsp;&nbsp;
あり / <a href="javascript:viewmode(false)">なし</a>
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <p>
              <span class="imp">並び替え:</span>&nbsp;&nbsp;
<a href="javascript:sort('n');">新着順</a>&nbsp;&nbsp;&nbsp;<a href="javascript:sort('s');">所在地</a>&nbsp;&nbsp;&nbsp;価格（<a href="javascript:sort('ph');">高い</a> / <a href="javascript:sort('pl');">安い</a>）&nbsp;&nbsp;&nbsp;専有面積（<a href="javascript:sort('ash');">広い</a> / <a href="javascript:sort('asl');">狭い</a>）&nbsp;&nbsp;&nbsp;築年月（<a href="javascript:sort('cn');">新しい</a> / <a href="javascript:sort('co');">古い</a>）
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td><p><img src="/search/images/all_bg3.gif" width="880" height="21" /></p></td>
  </tr>
</table>
<!--検索表示結果 end-->

<div class="wd880_mikata"><p><a href="/search/mikata/buy/02.html" target="_blank">物件情報の見方 &gt;&gt; </a></p></div>
<!--結果 start-->
<table class="result_all_part">
  <tr>
<!---->
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=06771095&org=ZN&key=aef54c951294b783e8fc194665ced56c64047067f33963253e997313b61a86c6">
          <img src="http://img3.athome.jp/image_files/index/bukken/6959596708/1" alt="-" STYLE="max-width:100px; max-height:100px;"/>
        </a>
      </p>
    </td>
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=06771095&org=ZN&key=aef54c951294b783e8fc194665ced56c64047067f33963253e997313b61a86c6">
          <img src="http://img3.athome.jp/image_files/index/bukken/6959596708/2" alt="-" STYLE="max-width:100px; max-height:100px;"/>
        </a>
      </p>
    </td>
<!-- -->
    <th colspan="4" class="text_midashi">
      <h5><a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=06771095&org=ZN&key=aef54c951294b783e8fc194665ced56c64047067f33963253e997313b61a86c6">詳細情報はこちらです</a></h5>
    </th>
  </tr>
  <tr>
    <th class="imp"><p>価格</p></th>
    <td colspan="3" class="imp"><p>1,800万円</p></td>
  </tr>
  <tr>
    <th><p>所在地</p></th>    
    <td colspan="3"><p>東京都江東区東砂７丁目</p></td>
  </tr>
  <tr>
    <th><p>交通</p></th>
    <td colspan="3"><p>東京地下鉄東西線 「南砂町」駅 徒歩10分</p></td>
  </tr>
  <tr>
    <th><p>専有面積</p></th>            
    <td><p>21.73ｍ<sup>2</sup>(壁芯)</p></td>    
    <th><p>間取り</p></th>    
    <td class="text_zoon"><p>1K</p></td>
  </tr>
  <tr>
    <th><p>築年月</p></th>        
    <td><p>2011年10月</p></td>    
    <th><p>総戸数</p></th>    
    <td class="text_zoon"><p>60戸</p></td>
  </tr>
  <tr>
    <td colspan="6">
      <p class="text_right">
        <!--
        <a href="" class="##toiawase_class##"><img src="/system/search_images/list_inq.jpg" alt="物件お問合せ" /></a>
        <!-- -->
        <a href="./?act=v&type=19&sact=blistadd&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D06771095%26org%3DZN%26key%3Daef54c951294b783e8fc194665ced56c64047067f33963253e997313b61a86c6"><img src="/system/search_images/list_mylistadd.jpg" alt="マイリストに保存" /></a>
      </p>
    </td>
  </tr>
</table>
<!--結果 end-->

<!--結果 start-->
<table class="result_all_part">
  <tr>
<!---->
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=05836328&org=FR&key=aef54c951294b783e8fc194665ced56c8df171cd63fe3ba122996917b0502b4b">
          <img src="./photo/frk/05836328478.gif" alt="-" STYLE="width:100px;"/>
        </a>
      </p>
    </td>
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=05836328&org=FR&key=aef54c951294b783e8fc194665ced56c8df171cd63fe3ba122996917b0502b4b">
          <img src="./photo/frk/05836328479.jpg" alt="-" STYLE="height:100px;"/>
        </a>
      </p>
    </td>
<!-- -->
    <th colspan="4" class="text_midashi">
      <h5><a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=05836328&org=FR&key=aef54c951294b783e8fc194665ced56c8df171cd63fe3ba122996917b0502b4b">フェニックス池袋参番館</a></h5>
    </th>
  </tr>
  <tr>
    <th class="imp"><p>価格</p></th>
    <td colspan="3" class="imp"><p>1,820万円</p></td>
  </tr>
  <tr>
    <th><p>所在地</p></th>    
    <td colspan="3"><p>東京都豊島区池袋４丁目</p></td>
  </tr>
  <tr>
    <th><p>交通</p></th>
    <td colspan="3"><p>東京地下鉄丸ノ内線 「池袋」駅 徒歩12分</p></td>
  </tr>
  <tr>
    <th><p>専有面積</p></th>            
    <td><p>20.79ｍ<sup>2</sup>(壁芯)</p></td>    
    <th><p>間取り</p></th>    
    <td class="text_zoon"><p>1K</p></td>
  </tr>
  <tr>
    <th><p>築年月</p></th>        
    <td><p>2011年9月</p></td>    
    <th><p>総戸数</p></th>    
    <td class="text_zoon"><p>40戸</p></td>
  </tr>
  <tr>
    <td colspan="6">
      <p class="text_right">
        
        <a href="./?act=t&type=12&stype=l&pref=13&city[]=13108&city[]=13112&city[]=13116&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D05836328%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56c8df171cd63fe3ba122996917b0502b4b&tdata036=act%3Dl%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5" class="##toiawase_class##"><img src="/system/search_images/list_inq.jpg" alt="物件お問合せ" /></a>
        <!-- -->
        <a href="./?act=v&type=19&sact=blistadd&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D05836328%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56c8df171cd63fe3ba122996917b0502b4b"><img src="/system/search_images/list_mylistadd.jpg" alt="マイリストに保存" /></a>
      </p>
    </td>
  </tr>
</table>
<!--結果 end-->

<!--結果 start-->
<table class="result_all_part">
  <tr>
<!---->
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=06412138&org=FR&key=aef54c951294b783e8fc194665ced56ce4e8091c25b021d0c5ac2cc64ef67710">
          <img src="./photo/frk/06412138478.gif" alt="-" STYLE="width:100px;"/>
        </a>
      </p>
    </td>
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=06412138&org=FR&key=aef54c951294b783e8fc194665ced56ce4e8091c25b021d0c5ac2cc64ef67710">
          <img src="./photo/frk/06412138479.jpg" alt="-" STYLE="height:100px;"/>
        </a>
      </p>
    </td>
<!-- -->
    <th colspan="4" class="text_midashi">
      <h5><a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=06412138&org=FR&key=aef54c951294b783e8fc194665ced56ce4e8091c25b021d0c5ac2cc64ef67710">ル・リオン南砂町</a></h5>
    </th>
  </tr>
  <tr>
    <th class="imp"><p>価格</p></th>
    <td colspan="3" class="imp"><p>1,830万円</p></td>
  </tr>
  <tr>
    <th><p>所在地</p></th>    
    <td colspan="3"><p>東京都江東区東砂７丁目</p></td>
  </tr>
  <tr>
    <th><p>交通</p></th>
    <td colspan="3"><p>東京地下鉄東西線 「南砂町」駅 徒歩10分</p></td>
  </tr>
  <tr>
    <th><p>専有面積</p></th>            
    <td><p>21.73ｍ<sup>2</sup>(壁芯)</p></td>    
    <th><p>間取り</p></th>    
    <td class="text_zoon"><p>1K</p></td>
  </tr>
  <tr>
    <th><p>築年月</p></th>        
    <td><p>2011年9月</p></td>    
    <th><p>総戸数</p></th>    
    <td class="text_zoon"><p>60戸</p></td>
  </tr>
  <tr>
    <td colspan="6">
      <p class="text_right">
        
        <a href="./?act=t&type=12&stype=l&pref=13&city[]=13108&city[]=13112&city[]=13116&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D06412138%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56ce4e8091c25b021d0c5ac2cc64ef67710&tdata036=act%3Dl%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5" class="##toiawase_class##"><img src="/system/search_images/list_inq.jpg" alt="物件お問合せ" /></a>
        <!-- -->
        <a href="./?act=v&type=19&sact=blistadd&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D06412138%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56ce4e8091c25b021d0c5ac2cc64ef67710"><img src="/system/search_images/list_mylistadd.jpg" alt="マイリストに保存" /></a>
      </p>
    </td>
  </tr>
</table>
<!--結果 end-->

<!--結果 start-->
<table class="result_all_part">
  <tr>
<!---->
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=05836175&org=FR&key=aef54c951294b783e8fc194665ced56c05cba48c38a2a31dfcc8007e72ca1404">
          <img src="./photo/frk/05836175478.jpg" alt="-" STYLE="height:100px;"/>
        </a>
      </p>
    </td>
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=05836175&org=FR&key=aef54c951294b783e8fc194665ced56c05cba48c38a2a31dfcc8007e72ca1404">
          <img src="./photo/frk/05836175479.jpg" alt="-" STYLE="height:100px;"/>
        </a>
      </p>
    </td>
<!-- -->
    <th colspan="4" class="text_midashi">
      <h5><a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=05836175&org=FR&key=aef54c951294b783e8fc194665ced56c05cba48c38a2a31dfcc8007e72ca1404">ジェノヴィア清澄白河グリーンヴェール</a></h5>
    </th>
  </tr>
  <tr>
    <th class="imp"><p>価格</p></th>
    <td colspan="3" class="imp"><p>1,890万円</p></td>
  </tr>
  <tr>
    <th><p>所在地</p></th>    
    <td colspan="3"><p>東京都江東区高橋</p></td>
  </tr>
  <tr>
    <th><p>交通</p></th>
    <td colspan="3"><p>東京地下鉄半蔵門線 「清澄白河」駅 徒歩4分<br />東京都大江戸線 「清澄白河」駅 徒歩4分<br />東京都新宿線 「森下」駅 徒歩4分</p></td>
  </tr>
  <tr>
    <th><p>専有面積</p></th>            
    <td><p>25.66ｍ<sup>2</sup>(壁芯)</p></td>    
    <th><p>間取り</p></th>    
    <td class="text_zoon"><p>1K</p></td>
  </tr>
  <tr>
    <th><p>築年月</p></th>        
    <td><p>2012年8月</p></td>    
    <th><p>総戸数</p></th>    
    <td class="text_zoon"><p>35戸</p></td>
  </tr>
  <tr>
    <td colspan="6">
      <p class="text_right">
        
        <a href="./?act=t&type=12&stype=l&pref=13&city[]=13108&city[]=13112&city[]=13116&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D05836175%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56c05cba48c38a2a31dfcc8007e72ca1404&tdata036=act%3Dl%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5" class="##toiawase_class##"><img src="/system/search_images/list_inq.jpg" alt="物件お問合せ" /></a>
        <!-- -->
        <a href="./?act=v&type=19&sact=blistadd&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D05836175%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56c05cba48c38a2a31dfcc8007e72ca1404"><img src="/system/search_images/list_mylistadd.jpg" alt="マイリストに保存" /></a>
      </p>
    </td>
  </tr>
</table>
<!--結果 end-->

<!--結果 start-->
<table class="result_all_part">
  <tr>
<!---->
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=07160965&org=FR&key=aef54c951294b783e8fc194665ced56ce869971d76f903ad284fbbb478313e30">
          <img src="./photo/frk/07160965478.jpg" alt="-" STYLE="height:100px;"/>
        </a>
      </p>
    </td>
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=07160965&org=FR&key=aef54c951294b783e8fc194665ced56ce869971d76f903ad284fbbb478313e30">
          <img src="./photo/frk/07160965479.jpg" alt="-" STYLE="height:100px;"/>
        </a>
      </p>
    </td>
<!-- -->
    <th colspan="4" class="text_midashi">
      <h5><a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=07160965&org=FR&key=aef54c951294b783e8fc194665ced56ce869971d76f903ad284fbbb478313e30">ヴェルステージ池袋</a><img src="/search/images/new.gif" alt="NEW" width="53" height="19" /></h5>
    </th>
  </tr>
  <tr>
    <th class="imp"><p>価格</p></th>
    <td colspan="3" class="imp"><p>1,900万円</p></td>
  </tr>
  <tr>
    <th><p>所在地</p></th>    
    <td colspan="3"><p>東京都豊島区池袋２丁目</p></td>
  </tr>
  <tr>
    <th><p>交通</p></th>
    <td colspan="3"><p>山手線 「池袋」駅 徒歩7分</p></td>
  </tr>
  <tr>
    <th><p>専有面積</p></th>            
    <td><p>21.99ｍ<sup>2</sup>(壁芯)</p></td>    
    <th><p>間取り</p></th>    
    <td class="text_zoon"><p>1K</p></td>
  </tr>
  <tr>
    <th><p>築年月</p></th>        
    <td><p>2012年3月</p></td>    
    <th><p>総戸数</p></th>    
    <td class="text_zoon"><p>65戸</p></td>
  </tr>
  <tr>
    <td colspan="6">
      <p class="text_right">
        
        <a href="./?act=t&type=12&stype=l&pref=13&city[]=13108&city[]=13112&city[]=13116&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D07160965%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56ce869971d76f903ad284fbbb478313e30&tdata036=act%3Dl%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5" class="##toiawase_class##"><img src="/system/search_images/list_inq.jpg" alt="物件お問合せ" /></a>
        <!-- -->
        <a href="./?act=v&type=19&sact=blistadd&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D07160965%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56ce869971d76f903ad284fbbb478313e30"><img src="/system/search_images/list_mylistadd.jpg" alt="マイリストに保存" /></a>
      </p>
    </td>
  </tr>
</table>
<!--結果 end-->

<!--結果 start-->
<table class="result_all_part">
  <tr>
<!---->
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=04599090&org=FR&key=aef54c951294b783e8fc194665ced56c1665e4fe9a97ae69d9a645def69ae5c4">
          <img src="./photo/frk/04599090478.jpg" alt="-" STYLE="width:100px;"/>
        </a>
      </p>
    </td>
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=04599090&org=FR&key=aef54c951294b783e8fc194665ced56c1665e4fe9a97ae69d9a645def69ae5c4">
          <img src="./photo/frk/04599090479.jpg" alt="-" STYLE="width:100px;"/>
        </a>
      </p>
    </td>
<!-- -->
    <th colspan="4" class="text_midashi">
      <h5><a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=04599090&org=FR&key=aef54c951294b783e8fc194665ced56c1665e4fe9a97ae69d9a645def69ae5c4">プレール・ドゥーク潮見</a></h5>
    </th>
  </tr>
  <tr>
    <th class="imp"><p>価格</p></th>
    <td colspan="3" class="imp"><p>1,910万円</p></td>
  </tr>
  <tr>
    <th><p>所在地</p></th>    
    <td colspan="3"><p>東京都江東区潮見２丁目</p></td>
  </tr>
  <tr>
    <th><p>交通</p></th>
    <td colspan="3"><p>京葉線 「潮見」駅 徒歩5分</p></td>
  </tr>
  <tr>
    <th><p>専有面積</p></th>            
    <td><p>25.51ｍ<sup>2</sup>(壁芯)</p></td>    
    <th><p>間取り</p></th>    
    <td class="text_zoon"><p>1K</p></td>
  </tr>
  <tr>
    <th><p>築年月</p></th>        
    <td><p>2011年9月</p></td>    
    <th><p>総戸数</p></th>    
    <td class="text_zoon"><p>78戸</p></td>
  </tr>
  <tr>
    <td colspan="6">
      <p class="text_right">
        
        <a href="./?act=t&type=12&stype=l&pref=13&city[]=13108&city[]=13112&city[]=13116&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D04599090%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56c1665e4fe9a97ae69d9a645def69ae5c4&tdata036=act%3Dl%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5" class="##toiawase_class##"><img src="/system/search_images/list_inq.jpg" alt="物件お問合せ" /></a>
        <!-- -->
        <a href="./?act=v&type=19&sact=blistadd&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D04599090%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56c1665e4fe9a97ae69d9a645def69ae5c4"><img src="/system/search_images/list_mylistadd.jpg" alt="マイリストに保存" /></a>
      </p>
    </td>
  </tr>
</table>
<!--結果 end-->

<!--結果 start-->
<table class="result_all_part">
  <tr>
<!---->
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=03850800&org=ZN&key=aef54c951294b783e8fc194665ced56cd36be01cec59132b71d6e15d5487c44e">
          <img src="http://img3.athome.jp/image_files/index/bukken/6956402455/1" alt="-" STYLE="max-width:100px; max-height:100px;"/>
        </a>
      </p>
    </td>
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=03850800&org=ZN&key=aef54c951294b783e8fc194665ced56cd36be01cec59132b71d6e15d5487c44e">
          <img src="http://img3.athome.jp/image_files/index/bukken/6956402455/2" alt="-" STYLE="max-width:100px; max-height:100px;"/>
        </a>
      </p>
    </td>
<!-- -->
    <th colspan="4" class="text_midashi">
      <h5><a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=03850800&org=ZN&key=aef54c951294b783e8fc194665ced56cd36be01cec59132b71d6e15d5487c44e">フローマ門前仲町リバーサイド</a><img src="/search/images/new.gif" alt="NEW" width="53" height="19" /></h5>
    </th>
  </tr>
  <tr>
    <th class="imp"><p>価格</p></th>
    <td colspan="3" class="imp"><p>1,920万円</p></td>
  </tr>
  <tr>
    <th><p>所在地</p></th>    
    <td colspan="3"><p>東京都江東区永代１丁目</p></td>
  </tr>
  <tr>
    <th><p>交通</p></th>
    <td colspan="3"><p>東京都大江戸線 「門前仲町」駅 徒歩8分<br />東京地下鉄日比谷線 「茅場町」駅 徒歩12分<br />東京地下鉄日比谷線 「八丁堀」駅 徒歩12分</p></td>
  </tr>
  <tr>
    <th><p>専有面積</p></th>            
    <td><p>20.72ｍ<sup>2</sup>(壁芯)</p></td>    
    <th><p>間取り</p></th>    
    <td class="text_zoon"><p>1K</p></td>
  </tr>
  <tr>
    <th><p>築年月</p></th>        
    <td><p>2013年5月</p></td>    
    <th><p>総戸数</p></th>    
    <td class="text_zoon"><p>30戸</p></td>
  </tr>
  <tr>
    <td colspan="6">
      <p class="text_right">
        <!--
        <a href="" class="##toiawase_class##"><img src="/system/search_images/list_inq.jpg" alt="物件お問合せ" /></a>
        <!-- -->
        <a href="./?act=v&type=19&sact=blistadd&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D03850800%26org%3DZN%26key%3Daef54c951294b783e8fc194665ced56cd36be01cec59132b71d6e15d5487c44e"><img src="/system/search_images/list_mylistadd.jpg" alt="マイリストに保存" /></a>
      </p>
    </td>
  </tr>
</table>
<!--結果 end-->

<!--結果 start-->
<table class="result_all_part">
  <tr>
<!---->
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=04752732&org=ZN&key=aef54c951294b783e8fc194665ced56c5e6d84b2e9cbbc13f94952768a7841ee">
          <img src="http://img3.athome.jp/image_files/index/bukken/6957602977/1" alt="-" STYLE="max-width:100px; max-height:100px;"/>
        </a>
      </p>
    </td>
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=04752732&org=ZN&key=aef54c951294b783e8fc194665ced56c5e6d84b2e9cbbc13f94952768a7841ee">
          <img src="http://img3.athome.jp/image_files/index/bukken/6957602977/2" alt="-" STYLE="max-width:100px; max-height:100px;"/>
        </a>
      </p>
    </td>
<!-- -->
    <th colspan="4" class="text_midashi">
      <h5><a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=04752732&org=ZN&key=aef54c951294b783e8fc194665ced56c5e6d84b2e9cbbc13f94952768a7841ee">詳細情報はこちらです</a></h5>
    </th>
  </tr>
  <tr>
    <th class="imp"><p>価格</p></th>
    <td colspan="3" class="imp"><p>1,950万円</p></td>
  </tr>
  <tr>
    <th><p>所在地</p></th>    
    <td colspan="3"><p>東京都江東区潮見２丁目</p></td>
  </tr>
  <tr>
    <th><p>交通</p></th>
    <td colspan="3"><p>京葉線 「潮見」駅 徒歩4分</p></td>
  </tr>
  <tr>
    <th><p>専有面積</p></th>            
    <td><p>25.51ｍ<sup>2</sup>(壁芯)</p></td>    
    <th><p>間取り</p></th>    
    <td class="text_zoon"><p>1K</p></td>
  </tr>
  <tr>
    <th><p>築年月</p></th>        
    <td><p>2011年9月</p></td>    
    <th><p>総戸数</p></th>    
    <td class="text_zoon"><p>78戸</p></td>
  </tr>
  <tr>
    <td colspan="6">
      <p class="text_right">
        
        <a href="./?act=t&type=12&stype=l&pref=13&city[]=13108&city[]=13112&city[]=13116&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D04752732%26org%3DZN%26key%3Daef54c951294b783e8fc194665ced56c5e6d84b2e9cbbc13f94952768a7841ee&tdata036=act%3Dl%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5" class="##toiawase_class##"><img src="/system/search_images/list_inq.jpg" alt="物件お問合せ" /></a>
        <!-- -->
        <a href="./?act=v&type=19&sact=blistadd&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D04752732%26org%3DZN%26key%3Daef54c951294b783e8fc194665ced56c5e6d84b2e9cbbc13f94952768a7841ee"><img src="/system/search_images/list_mylistadd.jpg" alt="マイリストに保存" /></a>
      </p>
    </td>
  </tr>
</table>
<!--結果 end-->

<!--結果 start-->
<table class="result_all_part">
  <tr>
<!---->
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=03962382&org=FR&key=aef54c951294b783e8fc194665ced56cea69f7d7baed1b83799a04239373a1c8">
          <img src="./photo/frk/03962382478.jpg" alt="-" STYLE="height:100px;"/>
        </a>
      </p>
    </td>
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=03962382&org=FR&key=aef54c951294b783e8fc194665ced56cea69f7d7baed1b83799a04239373a1c8">
          <img src="./photo/frk/03962382479.jpg" alt="-" STYLE="height:100px;"/>
        </a>
      </p>
    </td>
<!-- -->
    <th colspan="4" class="text_midashi">
      <h5><a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=03962382&org=FR&key=aef54c951294b783e8fc194665ced56cea69f7d7baed1b83799a04239373a1c8">フェニックス池袋参番館</a></h5>
    </th>
  </tr>
  <tr>
    <th class="imp"><p>価格</p></th>
    <td colspan="3" class="imp"><p>1,960万円</p></td>
  </tr>
  <tr>
    <th><p>所在地</p></th>    
    <td colspan="3"><p>東京都豊島区池袋４丁目</p></td>
  </tr>
  <tr>
    <th><p>交通</p></th>
    <td colspan="3"><p>東京地下鉄丸ノ内線 「池袋」駅 徒歩12分<br />東武鉄道東上線 「北池袋」駅 徒歩12分<br />山手線 「池袋」駅 徒歩15分</p></td>
  </tr>
  <tr>
    <th><p>専有面積</p></th>            
    <td><p>21ｍ<sup>2</sup>(壁芯)</p></td>    
    <th><p>間取り</p></th>    
    <td class="text_zoon"><p>1K</p></td>
  </tr>
  <tr>
    <th><p>築年月</p></th>        
    <td><p>2011年9月</p></td>    
    <th><p>総戸数</p></th>    
    <td class="text_zoon"><p>41戸</p></td>
  </tr>
  <tr>
    <td colspan="6">
      <p class="text_right">
        
        <a href="./?act=t&type=12&stype=l&pref=13&city[]=13108&city[]=13112&city[]=13116&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D03962382%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56cea69f7d7baed1b83799a04239373a1c8&tdata036=act%3Dl%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5" class="##toiawase_class##"><img src="/system/search_images/list_inq.jpg" alt="物件お問合せ" /></a>
        <!-- -->
        <a href="./?act=v&type=19&sact=blistadd&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D03962382%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56cea69f7d7baed1b83799a04239373a1c8"><img src="/system/search_images/list_mylistadd.jpg" alt="マイリストに保存" /></a>
      </p>
    </td>
  </tr>
</table>
<!--結果 end-->

<!--結果 start-->
<table class="result_all_part">
  <tr>
<!---->
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=00121312&org=FR&key=aef54c951294b783e8fc194665ced56cedec6c5543cb1952cfb19882f7e9bd16">
          <img src="./photo/frk/00121312478.jpg" alt="-" STYLE="width:100px;"/>
        </a>
      </p>
    </td>
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=00121312&org=FR&key=aef54c951294b783e8fc194665ced56cedec6c5543cb1952cfb19882f7e9bd16">
          <img src="./photo/frk/00121312479.jpg" alt="-" STYLE="height:100px;"/>
        </a>
      </p>
    </td>
<!-- -->
    <th colspan="4" class="text_midashi">
      <h5><a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=00121312&org=FR&key=aef54c951294b783e8fc194665ced56cedec6c5543cb1952cfb19882f7e9bd16">アクサス大塚</a></h5>
    </th>
  </tr>
  <tr>
    <th class="imp"><p>価格</p></th>
    <td colspan="3" class="imp"><p>1,980万円</p></td>
  </tr>
  <tr>
    <th><p>所在地</p></th>    
    <td colspan="3"><p>東京都豊島区巣鴨４丁目</p></td>
  </tr>
  <tr>
    <th><p>交通</p></th>
    <td colspan="3"><p>山手線 「大塚」駅 徒歩7分<br />山手線 「巣鴨」駅 徒歩13分<br />東京都三田線 「巣鴨」駅 徒歩11分</p></td>
  </tr>
  <tr>
    <th><p>専有面積</p></th>            
    <td><p>21.45ｍ<sup>2</sup>(壁芯)</p></td>    
    <th><p>間取り</p></th>    
    <td class="text_zoon"><p>1K</p></td>
  </tr>
  <tr>
    <th><p>築年月</p></th>        
    <td><p>2013年2月</p></td>    
    <th><p>総戸数</p></th>    
    <td class="text_zoon"><p>50戸</p></td>
  </tr>
  <tr>
    <td colspan="6">
      <p class="text_right">
        
        <a href="./?act=t&type=12&stype=l&pref=13&city[]=13108&city[]=13112&city[]=13116&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D00121312%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56cedec6c5543cb1952cfb19882f7e9bd16&tdata036=act%3Dl%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5" class="##toiawase_class##"><img src="/system/search_images/list_inq.jpg" alt="物件お問合せ" /></a>
        <!-- -->
        <a href="./?act=v&type=19&sact=blistadd&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D00121312%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56cedec6c5543cb1952cfb19882f7e9bd16"><img src="/system/search_images/list_mylistadd.jpg" alt="マイリストに保存" /></a>
      </p>
    </td>
  </tr>
</table>
<!--結果 end-->

<div class="page_top"><p><a href="#">▲ ページトップへ</a></p></div>
<!--結果 start-->
<table class="result_all_part">
  <tr>
<!---->
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=01473277&org=FR&key=aef54c951294b783e8fc194665ced56c04b681c494361f40a0f16611a07fb2ed">
          <img src="./photo/frk/01473277478.jpg" alt="-" STYLE="width:100px;"/>
        </a>
      </p>
    </td>
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=01473277&org=FR&key=aef54c951294b783e8fc194665ced56c04b681c494361f40a0f16611a07fb2ed">
          <img src="./photo/frk/01473277479.jpg" alt="-" STYLE="width:100px;"/>
        </a>
      </p>
    </td>
<!-- -->
    <th colspan="4" class="text_midashi">
      <h5><a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=01473277&org=FR&key=aef54c951294b783e8fc194665ced56c04b681c494361f40a0f16611a07fb2ed">アクサス大塚</a></h5>
    </th>
  </tr>
  <tr>
    <th class="imp"><p>価格</p></th>
    <td colspan="3" class="imp"><p>1,980万円</p></td>
  </tr>
  <tr>
    <th><p>所在地</p></th>    
    <td colspan="3"><p>東京都豊島区巣鴨４丁目</p></td>
  </tr>
  <tr>
    <th><p>交通</p></th>
    <td colspan="3"><p>山手線 「大塚」駅 徒歩7分<br />山手線 「巣鴨」駅 徒歩13分<br />東京都三田線 「巣鴨」駅 徒歩11分</p></td>
  </tr>
  <tr>
    <th><p>専有面積</p></th>            
    <td><p>21.17ｍ<sup>2</sup>(壁芯)</p></td>    
    <th><p>間取り</p></th>    
    <td class="text_zoon"><p>1K</p></td>
  </tr>
  <tr>
    <th><p>築年月</p></th>        
    <td><p>2013年2月</p></td>    
    <th><p>総戸数</p></th>    
    <td class="text_zoon"><p>50戸</p></td>
  </tr>
  <tr>
    <td colspan="6">
      <p class="text_right">
        
        <a href="./?act=t&type=12&stype=l&pref=13&city[]=13108&city[]=13112&city[]=13116&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D01473277%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56c04b681c494361f40a0f16611a07fb2ed&tdata036=act%3Dl%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5" class="##toiawase_class##"><img src="/system/search_images/list_inq.jpg" alt="物件お問合せ" /></a>
        <!-- -->
        <a href="./?act=v&type=19&sact=blistadd&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D01473277%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56c04b681c494361f40a0f16611a07fb2ed"><img src="/system/search_images/list_mylistadd.jpg" alt="マイリストに保存" /></a>
      </p>
    </td>
  </tr>
</table>
<!--結果 end-->

<!--結果 start-->
<table class="result_all_part">
  <tr>
<!---->
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=04901788&org=FR&key=aef54c951294b783e8fc194665ced56ceac365161c06d1c067dbf3a869dfb6dd">
          <img src="./photo/frk/04901788478.jpg" alt="-" STYLE="width:100px;"/>
        </a>
      </p>
    </td>
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=04901788&org=FR&key=aef54c951294b783e8fc194665ced56ceac365161c06d1c067dbf3a869dfb6dd">
          <img src="./photo/frk/04901788479.jpg" alt="-" STYLE="width:100px;"/>
        </a>
      </p>
    </td>
<!-- -->
    <th colspan="4" class="text_midashi">
      <h5><a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=04901788&org=FR&key=aef54c951294b783e8fc194665ced56ceac365161c06d1c067dbf3a869dfb6dd">クレイシア世田谷船橋</a></h5>
    </th>
  </tr>
  <tr>
    <th class="imp"><p>価格</p></th>
    <td colspan="3" class="imp"><p>1,980万円</p></td>
  </tr>
  <tr>
    <th><p>所在地</p></th>    
    <td colspan="3"><p>東京都世田谷区船橋２丁目</p></td>
  </tr>
  <tr>
    <th><p>交通</p></th>
    <td colspan="3"><p>小田急電鉄小田原線 「千歳船橋」駅 徒歩9分</p></td>
  </tr>
  <tr>
    <th><p>専有面積</p></th>            
    <td><p>25.79ｍ<sup>2</sup>(壁芯)</p></td>    
    <th><p>間取り</p></th>    
    <td class="text_zoon"><p>1K</p></td>
  </tr>
  <tr>
    <th><p>築年月</p></th>        
    <td><p>2012年11月</p></td>    
    <th><p>総戸数</p></th>    
    <td class="text_zoon"><p>57戸</p></td>
  </tr>
  <tr>
    <td colspan="6">
      <p class="text_right">
        
        <a href="./?act=t&type=12&stype=l&pref=13&city[]=13108&city[]=13112&city[]=13116&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D04901788%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56ceac365161c06d1c067dbf3a869dfb6dd&tdata036=act%3Dl%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5" class="##toiawase_class##"><img src="/system/search_images/list_inq.jpg" alt="物件お問合せ" /></a>
        <!-- -->
        <a href="./?act=v&type=19&sact=blistadd&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D04901788%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56ceac365161c06d1c067dbf3a869dfb6dd"><img src="/system/search_images/list_mylistadd.jpg" alt="マイリストに保存" /></a>
      </p>
    </td>
  </tr>
</table>
<!--結果 end-->

<!--結果 start-->
<table class="result_all_part">
  <tr>
<!---->
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=04932866&org=FR&key=aef54c951294b783e8fc194665ced56ce1021389b43084f645c6e10d4f068c91">
          <img src="./photo/frk/04932866478.jpg" alt="-" STYLE="height:100px;"/>
        </a>
      </p>
    </td>
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=04932866&org=FR&key=aef54c951294b783e8fc194665ced56ce1021389b43084f645c6e10d4f068c91">
          <img src="./photo/frk/04932866479.jpg" alt="-" STYLE="width:100px;"/>
        </a>
      </p>
    </td>
<!-- -->
    <th colspan="4" class="text_midashi">
      <h5><a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=04932866&org=FR&key=aef54c951294b783e8fc194665ced56ce1021389b43084f645c6e10d4f068c91">クレイシア世田谷船橋</a></h5>
    </th>
  </tr>
  <tr>
    <th class="imp"><p>価格</p></th>
    <td colspan="3" class="imp"><p>1,980万円</p></td>
  </tr>
  <tr>
    <th><p>所在地</p></th>    
    <td colspan="3"><p>東京都世田谷区船橋２丁目</p></td>
  </tr>
  <tr>
    <th><p>交通</p></th>
    <td colspan="3"><p>小田急電鉄小田原線 「千歳船橋」駅 徒歩9分</p></td>
  </tr>
  <tr>
    <th><p>専有面積</p></th>            
    <td><p>25.79ｍ<sup>2</sup>(壁芯)</p></td>    
    <th><p>間取り</p></th>    
    <td class="text_zoon"><p>1K</p></td>
  </tr>
  <tr>
    <th><p>築年月</p></th>        
    <td><p>2012年11月</p></td>    
    <th><p>総戸数</p></th>    
    <td class="text_zoon"><p>57戸</p></td>
  </tr>
  <tr>
    <td colspan="6">
      <p class="text_right">
        
        <a href="./?act=t&type=12&stype=l&pref=13&city[]=13108&city[]=13112&city[]=13116&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D04932866%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56ce1021389b43084f645c6e10d4f068c91&tdata036=act%3Dl%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5" class="##toiawase_class##"><img src="/system/search_images/list_inq.jpg" alt="物件お問合せ" /></a>
        <!-- -->
        <a href="./?act=v&type=19&sact=blistadd&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D04932866%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56ce1021389b43084f645c6e10d4f068c91"><img src="/system/search_images/list_mylistadd.jpg" alt="マイリストに保存" /></a>
      </p>
    </td>
  </tr>
</table>
<!--結果 end-->

<!--結果 start-->
<table class="result_all_part">
  <tr>
<!---->
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=06036211&org=FR&key=aef54c951294b783e8fc194665ced56c7db94d762f7086ad22c3f206fc6fca3d">
          <img src="./search/images/noimage.gif" alt="-" STYLE="width:100px;height:100px;"/>
        </a>
      </p>
    </td>
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=06036211&org=FR&key=aef54c951294b783e8fc194665ced56c7db94d762f7086ad22c3f206fc6fca3d">
          <img src="./search/images/noimage.gif" alt="-" STYLE="width:100px;height:100px;"/>
        </a>
      </p>
    </td>
<!-- -->
    <th colspan="4" class="text_midashi">
      <h5><a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=06036211&org=FR&key=aef54c951294b783e8fc194665ced56c7db94d762f7086ad22c3f206fc6fca3d">ＡＸＡＳ大塚</a></h5>
    </th>
  </tr>
  <tr>
    <th class="imp"><p>価格</p></th>
    <td colspan="3" class="imp"><p>1,980万円</p></td>
  </tr>
  <tr>
    <th><p>所在地</p></th>    
    <td colspan="3"><p>東京都豊島区巣鴨４丁目</p></td>
  </tr>
  <tr>
    <th><p>交通</p></th>
    <td colspan="3"><p>山手線 「大塚」駅 徒歩7分</p></td>
  </tr>
  <tr>
    <th><p>専有面積</p></th>            
    <td><p>21.45ｍ<sup>2</sup>(壁芯)</p></td>    
    <th><p>間取り</p></th>    
    <td class="text_zoon"><p>1K</p></td>
  </tr>
  <tr>
    <th><p>築年月</p></th>        
    <td><p>2013年2月</p></td>    
    <th><p>総戸数</p></th>    
    <td class="text_zoon"><p>50戸</p></td>
  </tr>
  <tr>
    <td colspan="6">
      <p class="text_right">
        
        <a href="./?act=t&type=12&stype=l&pref=13&city[]=13108&city[]=13112&city[]=13116&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D06036211%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56c7db94d762f7086ad22c3f206fc6fca3d&tdata036=act%3Dl%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5" class="##toiawase_class##"><img src="/system/search_images/list_inq.jpg" alt="物件お問合せ" /></a>
        <!-- -->
        <a href="./?act=v&type=19&sact=blistadd&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D06036211%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56c7db94d762f7086ad22c3f206fc6fca3d"><img src="/system/search_images/list_mylistadd.jpg" alt="マイリストに保存" /></a>
      </p>
    </td>
  </tr>
</table>
<!--結果 end-->

<!--結果 start-->
<table class="result_all_part">
  <tr>
<!---->
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=06036235&org=FR&key=aef54c951294b783e8fc194665ced56c67290604dcfc17bb0b2571c4de6e3fc4">
          <img src="./search/images/noimage.gif" alt="-" STYLE="width:100px;height:100px;"/>
        </a>
      </p>
    </td>
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=06036235&org=FR&key=aef54c951294b783e8fc194665ced56c67290604dcfc17bb0b2571c4de6e3fc4">
          <img src="./search/images/noimage.gif" alt="-" STYLE="width:100px;height:100px;"/>
        </a>
      </p>
    </td>
<!-- -->
    <th colspan="4" class="text_midashi">
      <h5><a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=06036235&org=FR&key=aef54c951294b783e8fc194665ced56c67290604dcfc17bb0b2571c4de6e3fc4">ＡＸＡＳ大塚</a></h5>
    </th>
  </tr>
  <tr>
    <th class="imp"><p>価格</p></th>
    <td colspan="3" class="imp"><p>1,980万円</p></td>
  </tr>
  <tr>
    <th><p>所在地</p></th>    
    <td colspan="3"><p>東京都豊島区巣鴨４丁目</p></td>
  </tr>
  <tr>
    <th><p>交通</p></th>
    <td colspan="3"><p>山手線 「大塚」駅 徒歩7分</p></td>
  </tr>
  <tr>
    <th><p>専有面積</p></th>            
    <td><p>21.75ｍ<sup>2</sup>(壁芯)</p></td>    
    <th><p>間取り</p></th>    
    <td class="text_zoon"><p>1K</p></td>
  </tr>
  <tr>
    <th><p>築年月</p></th>        
    <td><p>2013年2月</p></td>    
    <th><p>総戸数</p></th>    
    <td class="text_zoon"><p>50戸</p></td>
  </tr>
  <tr>
    <td colspan="6">
      <p class="text_right">
        
        <a href="./?act=t&type=12&stype=l&pref=13&city[]=13108&city[]=13112&city[]=13116&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D06036235%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56c67290604dcfc17bb0b2571c4de6e3fc4&tdata036=act%3Dl%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5" class="##toiawase_class##"><img src="/system/search_images/list_inq.jpg" alt="物件お問合せ" /></a>
        <!-- -->
        <a href="./?act=v&type=19&sact=blistadd&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D06036235%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56c67290604dcfc17bb0b2571c4de6e3fc4"><img src="/system/search_images/list_mylistadd.jpg" alt="マイリストに保存" /></a>
      </p>
    </td>
  </tr>
</table>
<!--結果 end-->

<!--結果 start-->
<table class="result_all_part">
  <tr>
<!---->
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=06785490&org=FR&key=aef54c951294b783e8fc194665ced56c740c673c182c2e53575fde5a4b99c6d6">
          <img src="./photo/frk/06785490478.jpg" alt="-" STYLE="height:100px;"/>
        </a>
      </p>
    </td>
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=06785490&org=FR&key=aef54c951294b783e8fc194665ced56c740c673c182c2e53575fde5a4b99c6d6">
          <img src="./photo/frk/06785490479.jpg" alt="-" STYLE="height:100px;"/>
        </a>
      </p>
    </td>
<!-- -->
    <th colspan="4" class="text_midashi">
      <h5><a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=06785490&org=FR&key=aef54c951294b783e8fc194665ced56c740c673c182c2e53575fde5a4b99c6d6">ハーモニーレジデンス池袋</a></h5>
    </th>
  </tr>
  <tr>
    <th class="imp"><p>価格</p></th>
    <td colspan="3" class="imp"><p>1,980万円</p></td>
  </tr>
  <tr>
    <th><p>所在地</p></th>    
    <td colspan="3"><p>東京都豊島区池袋１丁目</p></td>
  </tr>
  <tr>
    <th><p>交通</p></th>
    <td colspan="3"><p>山手線 「池袋」駅 徒歩9分</p></td>
  </tr>
  <tr>
    <th><p>専有面積</p></th>            
    <td><p>20.72ｍ<sup>2</sup>(壁芯)</p></td>    
    <th><p>間取り</p></th>    
    <td class="text_zoon"><p>1K</p></td>
  </tr>
  <tr>
    <th><p>築年月</p></th>        
    <td><p>2012年3月</p></td>    
    <th><p>総戸数</p></th>    
    <td class="text_zoon"><p>72戸</p></td>
  </tr>
  <tr>
    <td colspan="6">
      <p class="text_right">
        
        <a href="./?act=t&type=12&stype=l&pref=13&city[]=13108&city[]=13112&city[]=13116&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D06785490%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56c740c673c182c2e53575fde5a4b99c6d6&tdata036=act%3Dl%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5" class="##toiawase_class##"><img src="/system/search_images/list_inq.jpg" alt="物件お問合せ" /></a>
        <!-- -->
        <a href="./?act=v&type=19&sact=blistadd&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D06785490%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56c740c673c182c2e53575fde5a4b99c6d6"><img src="/system/search_images/list_mylistadd.jpg" alt="マイリストに保存" /></a>
      </p>
    </td>
  </tr>
</table>
<!--結果 end-->

<!--結果 start-->
<table class="result_all_part">
  <tr>
<!---->
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=06597922&org=FR&key=aef54c951294b783e8fc194665ced56c4385437897e3c07388acecb31cbc8f8a">
          <img src="./photo/frk/06597922478.jpg" alt="-" STYLE="height:100px;"/>
        </a>
      </p>
    </td>
    <td rowspan="6" class="pic_zoon">
      <p>
        <a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=06597922&org=FR&key=aef54c951294b783e8fc194665ced56c4385437897e3c07388acecb31cbc8f8a">
          <img src="./photo/frk/06597922479.jpg" alt="-" STYLE="height:100px;"/>
        </a>
      </p>
    </td>
<!-- -->
    <th colspan="4" class="text_midashi">
      <h5><a href="./?act=d&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5&n=20&p=1&v=on&s=&bid=06597922&org=FR&key=aef54c951294b783e8fc194665ced56c4385437897e3c07388acecb31cbc8f8a">アイル池袋ＮＯＲＴＨ参番館</a></h5>
    </th>
  </tr>
  <tr>
    <th class="imp"><p>価格</p></th>
    <td colspan="3" class="imp"><p>1,990万円</p></td>
  </tr>
  <tr>
    <th><p>所在地</p></th>    
    <td colspan="3"><p>東京都豊島区上池袋４丁目</p></td>
  </tr>
  <tr>
    <th><p>交通</p></th>
    <td colspan="3"><p>東武鉄道東上線 「北池袋」駅 徒歩8分<br />東京都荒川線 「巣鴨新田」駅 徒歩9分<br />山手線 「大塚」駅 徒歩15分</p></td>
  </tr>
  <tr>
    <th><p>専有面積</p></th>            
    <td><p>20.63ｍ<sup>2</sup>(壁芯)</p></td>    
    <th><p>間取り</p></th>    
    <td class="text_zoon"><p>1K</p></td>
  </tr>
  <tr>
    <th><p>築年月</p></th>        
    <td><p>2012年9月</p></td>    
    <th><p>総戸数</p></th>    
    <td class="text_zoon"><p>61戸</p></td>
  </tr>
  <tr>
    <td colspan="6">
      <p class="text_right">
        
        <a href="./?act=t&type=12&stype=l&pref=13&city[]=13108&city[]=13112&city[]=13116&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D06597922%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56c4385437897e3c07388acecb31cbc8f8a&tdata036=act%3Dl%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5" class="##toiawase_class##"><img src="/system/search_images/list_inq.jpg" alt="物件お問合せ" /></a>
        <!-- -->
        <a href="./?act=v&type=19&sact=blistadd&param=act%3Dd%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5%26bid%3D06597922%26org%3DFR%26key%3Daef54c951294b783e8fc194665ced56c4385437897e3c07388acecb31cbc8f8a"><img src="/system/search_images/list_mylistadd.jpg" alt="マイリストに保存" /></a>
      </p>
    </td>
  </tr>
</table>
<!--結果 end-->

<script type="text/javascript"><!--
function resize(n) {
//  var frm = document.forms['frmOrgCond'];
  var frm = document.forms[1];
  frm.n.value = n;
  frm.p.value = 1;
  frm.submit();
}
function page(p) {
//  var frm = document.forms['frmOrgCond'];
  var frm = document.forms[1];
  frm.p.value = p;
  frm.submit();
}
function viewmode(v){
//  var frm = document.forms['frmOrgCond'];
  var frm = document.forms[1];
  if(v){
    frm.v.value = "on";
  } else {
    frm.v.value = "off";
  }
  frm.submit();
}
function sort(s){
//  var frm = document.forms['frmOrgCond'];
  var frm = document.forms[1];
  frm.p.value = 1;
  frm.s.value = s;
  frm.submit();
}
// --></script>
<form name="frmOrgCond" action="./">
  <input type="hidden" name="act" value="l" />
<input type="hidden" name="type" value="12" />
<input type="hidden" name="pref" value="13" />
<input type="hidden" name="stype" value="l" />
<input type="hidden" name="city[]" value="13108" />
<input type="hidden" name="city[]" value="13112" />
<input type="hidden" name="city[]" value="13116" />
<input type="hidden" name="pl" value="1" />
<input type="hidden" name="ph" value="2" />
<input type="hidden" name="asl" value="l" />
<input type="hidden" name="ash" value="h" />
<input type="hidden" name="yc" value="5" />
<input type="hidden" name="n" value="20" />
<input type="hidden" name="p" value="1" />
<input type="hidden" name="v" value="on" />
<input type="hidden" name="s" value="" />
</form>
<!--検索表示結果 start-->
<table class="result_out_no" cellspacing="0" cellpadding="0">
  <tr>
    <td><p><img src="/search/images/all_bg1.gif" width="880" height="21" /></p></td>
  </tr>
  <tr>
    <td>
      <table class="result_no">
        <tr>
          <th><p><span class="imp">検索結果:</span>　17件中　1～17件を表示</p></th>
          <td class="text_right">
            <p>
＜前へ&nbsp;&nbsp;1&nbsp;&nbsp;次へ＞
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <span class="imp">表示件数:</span>&nbsp;&nbsp;
              <select name="select" size="1" onchange="resize(this.options[this.selectedIndex].value)">
                <option value="20" selected>20件表示</option>
                <option value="50" ##select_50##>50件表示</option>
                <option value="100" ##select_100##>100件表示</option>
              </select>
            </p>
          </td>
          <td>
            <p>
              <span class="imp">画像:</span>&nbsp;&nbsp;
あり / <a href="javascript:viewmode(false)">なし</a>
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <p>
              <span class="imp">並び替え:</span>&nbsp;&nbsp;
<a href="javascript:sort('n');">新着順</a>&nbsp;&nbsp;&nbsp;<a href="javascript:sort('s');">所在地</a>&nbsp;&nbsp;&nbsp;価格（<a href="javascript:sort('ph');">高い</a> / <a href="javascript:sort('pl');">安い</a>）&nbsp;&nbsp;&nbsp;専有面積（<a href="javascript:sort('ash');">広い</a> / <a href="javascript:sort('asl');">狭い</a>）&nbsp;&nbsp;&nbsp;築年月（<a href="javascript:sort('cn');">新しい</a> / <a href="javascript:sort('co');">古い</a>）
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td><p><img src="/search/images/all_bg3.gif" width="880" height="21" /></p></td>
  </tr>
</table>
<!--検索表示結果 end-->

&nbsp;
<!--設定済み検索条件 start-->
<table class="result_all" summary="設定済み検索条件">
  <tr>
    <th colspan="2" class="midashi"><p>設定済み検索条件</p></th>
  </tr>
  <tr>
    <th><p>基本検索条件</p></th>
    <td>
      <ul>
      <li><nobr><em>・エリア検索(東京都)：</em>江東区、世田谷区、豊島区</nobr></li>
<li><nobr><em>・価格：</em>1,000万円以上～2,000万円未満</nobr></li>
<li><nobr><em>・専有面積：</em>下限なし～上限なし</nobr></li>
<li><nobr><em>・築年数：</em>5年以内</nobr></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th><p>こだわり検索条件</p></th>
    <td>
      <ul>
      <li>なし</li>
      </ul>
    </td>
  </tr>
</table>
<!--ボタン start-->
<div class="wd880">
  <ul>
    <!--##changeArea##-->
    <li>
      <a href="./?act=f&type=12&pref=13&stype=l&city[]=13108&city[]=13112&city[]=13116&pl=1&ph=2&asl=l&ash=h&yc=5"><img src="/system/search_images/change_area.jpg" alt="エリア変更" width="142" height="46" border="0" /></a>
    </li>
    <!-- -->
    <!--
    <li>
      <a href="##lineselecturl##"><img src="/system/search_images/change_line.jpg" alt="路線変更" width="142" height="46" border="0" /></a>
    </li>
    <!-- -->
    <!--
    <li>
      <a href="##ekiselecturl##"><img src="/system/search_images/change_eki.jpg" alt="駅変更" width="142" height="46" border="0" /></a>
    </li>
    <!-- -->
    <li>
      <!--##saveMyList##-->
      <a href="./?act=v&type=19&sact=slistadd&param=act%3Dl%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5"><img src="/search/images/all_my.jpg" alt="検索条件をマイリストに保存" width="211" height="46" border="0" /></a>
      <!-- -->
    </li>
    <li>
      <a href="#a2"><img src="/search/images/all_change.jpg" alt="検索条件変更" width="142" height="46" border="0" /></a>
    </li>
  </ul>
</div>
<!--ボタン end-->

<script type="text/javascript"><!--
  function checkForm(frm) {
    var msgs = new Array();
    checkCondition(frm,msgs);
    if(msgs.length > 0) {
      var str = '入力条件を確認してください。';
      for (i = 0; i < msgs.length; i++) {
        str += '\n  ・' + msgs[i];
      }
      alert(str);
      return false;
    } else {
      return true;
    }
  }
// --></script>
<a name="a2" id="a2"></a>
<form name="frmList" action="./?act=l&type=12&pref=13&stype=l" onsubmit="return checkForm(document.forms['frmArea']);">
<input type="hidden" name="act" value="l" />
<input type="hidden" name="type" value="12" />
<input type="hidden" name="pref" value="13" />
<input type="hidden" name="stype" value="l" />
<input type="hidden" name="city[]" value="13108" />
<input type="hidden" name="city[]" value="13112" />
<input type="hidden" name="city[]" value="13116" />
<a name="a2" id="a2"></a>
<script type="text/javascript"><!--
  function checkCondition(frm,msgs) {
    if(parseInt(frm.pl.value) >= parseInt(frm.ph.value)) msgs.push('下限価格よりも上限価格を大きく設定してください');
    if(parseFloat(frm.asl.value) >= parseFloat(frm.ash.value)) msgs.push('下限専有面積よりも上限専有面積を大きく設定してください');
  }
// --></script>
<!--検索条件　start-->
<h4 class="title_kensaku">検索条件　<span class="xx-small none">検索条件を選択してください。</span></h4>
<table class="kensaku" summary="基本検索条件、こだわり検索条件">
  <tr>
    <th colspan="2" class="midashi"><p>基本検索条件</p></th>
  </tr>
  <tr>
    <th><p>価格</p></th>
    <td>
      <ul class="w_3">
        <li>
          <select size="1" name="pl">
            <option value="l" ##pl_l##>下限なし</option>
            <option value="1" selected>1,000万</option>
            <option value="2" ##pl_2##>2,000万</option>
            <option value="3" ##pl_3##>3,000万</option>
            <option value="4" ##pl_4##>4,000万</option>
            <option value="5" ##pl_5##>5,000万</option>
            <option value="6" ##pl_6##>6,000万</option>
            <option value="7" ##pl_7##>7,000万</option>
            <option value="8" ##pl_8##>8,000万</option>
            <option value="9" ##pl_9##>9,000万</option>
          </select>円以上
        </li>
        <li>
          <select size="1" name="ph">
            <option value="h" ##ph_h##>上限なし</option>
            <option value="1" ##ph_1##>1,000万</option>
            <option value="2" selected>2,000万</option>
            <option value="3" ##ph_3##>3,000万</option>
            <option value="4" ##ph_4##>4,000万</option>
            <option value="5" ##ph_5##>5,000万</option>
            <option value="6" ##ph_6##>6,000万</option>
            <option value="7" ##ph_7##>7,000万</option>
            <option value="8" ##ph_8##>8,000万</option>
            <option value="9" ##ph_9##>9,000万</option>
          </select>円未満
        </li>
        <li>
          <input type="checkbox" name="pu" value="1" id="pu" ##pu_1##/><label for="pu">価格未定含む</label>
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <th><p>専有面積</p></th>
    <td>
      <ul class="w_3">
        <li>
          <select size="1" name="asl">
            <option value="l" selected>下限なし</option>
            <option value="20" ##asl_20##>20</option>
            <option value="40" ##asl_40##>40</option>
            <option value="50" ##asl_50##>50</option>
            <option value="60" ##asl_60##>60</option>
            <option value="70" ##asl_70##>70</option>
            <option value="80" ##asl_80##>80</option>
            <option value="90" ##asl_90##>90</option>
            <option value="100" ##asl_100##>100</option>
            <option value="120" ##asl_120##>120</option>
            <option value="150" ##asl_150##>150</option>
          </select>m&sup2;以上
        </li>
        <li>
          <select size="1" name="ash">
            <option value="h" selected>上限なし</option>
            <option value="20" ##ash_20##>20</option>
            <option value="40" ##ash_40##>40</option>
            <option value="50" ##ash_50##>50</option>
            <option value="60" ##ash_60##>60</option>
            <option value="70" ##ash_70##>70</option>
            <option value="80" ##ash_80##>80</option>
            <option value="90" ##ash_90##>90</option>
            <option value="100" ##ash_100##>100</option>
            <option value="120" ##ash_120##>120</option>
            <option value="150" ##ash_150##>150</option>
          </select>m&sup2;未満
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <th><p>築年数</p></th>
    <td>
      <ul class="w_3">
        <li><input name="yc" type="radio" value="1" id="yc0" ##yc_1## /><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&yc=1">新築</a></li>
        <li><input name="yc" type="radio" value="3" id="yc1" ##yc_3## /><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&yc=3">3年以内</a></li>
        <li><input name="yc" type="radio" value="5" id="yc2" checked /><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&yc=5">5年以内</a></li>
        <li><input name="yc" type="radio" value="10" id="yc3" ##yc_10## /><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&yc=10">10年以内</a></li>
        <li><input name="yc" type="radio" value="15" id="yc4" ##yc_15## /><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&yc=15">15年以内</a></li>
        <li><input name="yc" type="radio" value="-1" id="yc-1" ##yc_-1## /><label for="yc-1">指定なし</label></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th><p>最寄駅徒歩分</p></th>
    <td>
      <ul class="w_3">
        <li><input name="th" type="radio" value="5" id="th1" ##th_5##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&th=5">5分以内</a></li>
        <li><input name="th" type="radio" value="10" id="th2"  ##th_10##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&th=10">10分以内</a></li>
        <li><input name="th" type="radio" value="15" id="th3"  ##th_15##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&th=15">15分以内</a></li>
        <li><input name="th" type="radio" value="-1" id="th-1"  ##th_-1##/><label for="th-1">指定なし</label></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th><p>間取り</p></th>
    <td>
      <ul class="madori">
        <li><input type="checkbox" name="md[]" value="1" id="md1" ##md_1##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&md[]=1">1R・1K・1DK</a></li>
        <li><input type="checkbox" name="md[]" value="2" id="md2" ##md_2##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&md[]=2">1LDK・2K・2DK</a></li>
        <li><input type="checkbox" name="md[]" value="3" id="md3" ##md_3##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&md[]=3">2LDK・3K・3DK</a></li>
        <li><input type="checkbox" name="md[]" value="4" id="md4" ##md_4##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&md[]=4">3LDK・4K・4DK</a></li>
        <li><input type="checkbox" name="md[]" value="5" id="md5" ##md_5##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&md[]=5">4LDK以上</a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th><p>画像・図面</p></th>
    <td>
      <ul class="w_3">
        <li><input type="checkbox" name="gz" value="1" id="gz" ##gz_1##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&gz=1">画像あり</a></li>
        <li><input type="checkbox" name="zm" value="1" id="zm" ##zm_1##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&zm=1">図面あり</a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th colspan="2" class="midashi"><p>こだわり検索条件</p></th>
  </tr>
  <tr>
    <th><p>部屋の位置</p></th>
    <td>
      <ul class="w_3">
        <li><input type="checkbox" name="f1" value="1" id="f1" ##f1_1##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&f1=1">1階のみ</a></li>
        <li><input type="checkbox" name="f2" value="1" id="f2" ##f2_1##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&f2=1">2階以上のみ</a></li>
        <li><input type="checkbox" name="op[]" value="d332" id="d332" ##op_d332##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&op[]=d332">角部屋</a></li>
        <li><input type="checkbox" name="op[]" value="d344" id="d344" ##op_d344##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&op[]=d344">最上階</a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th><p>設備</p></th>
    <td>
      <ul class="w_3">
        <li><input type="checkbox" name="pk" value="1" id="pk" ##pk_1##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&pk=1">駐車場あり</a></li>
        <li><input type="checkbox" name="op[]" value="d227" id="d227" ##op_d227##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&op[]=d227">都市ガス</a></li>
        <li><input type="checkbox" name="op[]" value="d300" id="d300" ##op_d300##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&op[]=d300">宅配ボックス</a></li>
        <li><input type="checkbox" name="op[]" value="d341" id="d341" ##op_d341##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&op[]=d341">24時間換気システム</a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th><p>環境</p></th>
    <td>
      <ul class="w_2">
        <li><input type="checkbox" name="slw" value="1" id="slw" ##slw_1##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&slw=1">低層（4階以下）</a></li>
        <li><input type="checkbox" name="stw" value="1" id="stw" ##stw_1##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&stw=1">タワーマンション（20階以上）</a></li>
        <li><input type="checkbox" name="slg" value="1" id="slg" ##slg_1##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&slg=1">大規模マンション（総戸数200戸以上）</a></li>
        <li><input type="checkbox" name="op[]" value="d324" id="d324" ##op_d324##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&op[]=d324">バリアフリー</a></li>
        <li><input type="checkbox" name="op[]" value="d325" id="d325" ##op_d325##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&op[]=d325">メゾネット</a></li>
        <li><input type="checkbox" name="op[]" value="d337" id="d337" ##op_d337##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&op[]=d337">二世帯向き</a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th><p>条件</p></th>
    <td>
      <ul class="w_3">
        <li><input type="checkbox" name="qc" value="1" id="qc" ##qc_1##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&qc=1">即入居可</a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th><p>バス・洗面</p></th>
    <td>
      <ul class="w_3">
        <li><input type="checkbox" name="op[]" value="d278" id="d278" ##op_d278##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&op[]=d278">浴室乾燥機</a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th><p>セキュリティ</p></th>
    <td>
      <ul class="w_3">
        <li><input type="checkbox" name="op[]" value="d342" id="d342" ##op_d342##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&op[]=d342">24時間セキュリティ</a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th><p>冷暖房</p></th>
    <td>
      <ul class="w_3">
        <li><input type="checkbox" name="op[]" value="d238" id="d238" ##op_d238##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&op[]=d238">床暖房</a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <th><p>バルコニー</p></th>
    <td>
      <ul class="w_3">
        <li><input type="checkbox" name="op[]" value="d286" id="d286" ##op_d286##/><a href="./?act=l&type=12&pref=13&stype=d&city[]=13108&city[]=13112&city[]=13116&op[]=d286">ルーフバルコニー</a></li>
      </ul>
    </td>
  </tr>
<!--##act_f##
  <tr>
    <td colspan="2">
      <p class="text_center">
        <button type="submit" class="btn-img" name="submitbtn" value="l"><img src="/search/images/kensaku_buton.jpg" alt="検索" width="85" height="30" /></button>
      </p>
    </td>
  </tr>
<!-- -->
<!---->
  <tr>
    <td colspan="2">
      <p class="text_center">
        <a href="javascript:history.back()"><img src="/search/images/buck_buton.jpg" alt="前の画面に戻る" width="136" height="30" /></a>　<button type="submit" class="btn-img" name="submitbtn" value="l"><img src="/search/images/kensaku_buton.jpg" alt="検索" width="85" height="30" /></button>
      </p>
    </td>
  </tr>
<!-- -->
</table>
<!--検索条件 end-->

<link href="/system/search_css/bottom-toolbar.css" rel="stylesheet" type="text/css" />
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript"><!--
  $(function(){
    $(".bottom-toolbar").slideDown();
  });
// --></script>
<div class="bottom-toolbar text_center">
  <!--
  <div class="bottom-button width-m">
    <a href="javascript:if(checkForm(document.forms['frmArea'],true)){var f=document.forms['frmArea'];f.act.value='f';f.stype.value='e';f.submit();}">駅を選択</a>
  </div>
  <!-- -->
  <!--##saveMyListToolbar##-->
  <div class="bottom-button width-l">
    <a href="./?act=v&type=19&sact=slistadd&param=act%3Dl%26type%3D12%26pref%3D13%26stype%3Dl%26city%5B%5D%3D13108%26city%5B%5D%3D13112%26city%5B%5D%3D13116%26pl%3D1%26ph%3D2%26asl%3Dl%26ash%3Dh%26yc%3D5">検索条件をマイリストに保存</a>
  </div>
  <!-- -->
  <div class="bottom-button width-m">
    <a href="#a2">検索条件変更</a>
  </div>
  <div class="bottom-button width-s">
    <a href="javascript:if(checkForm(document.forms['frmList']))document.forms['frmList'].submit();">検索</a>
  </div>
</div>

</form>
        <!-- 動的コンテンツ ここまで -->

        <!--ページトップへ start-->
        <div class="page_top">
        <p><a href="#">▲ ページトップへ</a></p>
        </div><!--ページトップへ end-->
      </div><!--コンテンツend-->
    </div><!--all_cont end-->

<!--all_cont start-->
<div class="all_cont top_bt">
<!--フッター start-->
<div id="foot">
     <ul><li><a href="http://www.fudousan.or.jp/">トップ </a>｜ </li>
     <li><a href="/top/buy.html">買うトップ</a> ｜ </li>
     <li><a href="/top/rent.html">借りるトップ</a> ｜ </li>
     <li><a href="/top/sale.html">売るトップ</a> ｜ </li>
     <li><a href="/top/lease.html">貸すトップ</a> ｜ </li>
     <li>マイリスト（<a href="/system/?act=v&amp;type=19">買う</a>・<a href="/system/?act=v&amp;type=39">借りる</a>） ｜ </li>
     <li><a href="/topics/index.html">不動産トピックス</a> ｜ </li>
     <li><a href="/check/index.html">不動産力チェック</a> ｜ </li>
     <li><a href="/keywords/index.html">話題の不動産キーワード</a></li>
     </ul>
   <ul><li><a href="/others/aboutus.html">不動産ジャパンについて</a> ｜ </li>
   <li><a href="/others/link.html">リンクについて</a> ｜ </li>
   <li><a href="/others/sitemap.html">サイトマップ</a> ｜ </li>
   <li><a href="/others/kiyaku.html">ご利用規約</a> ｜ </li>
   <li><a href="/others/privacy.html">個人情報保護指針</a> ｜ </li>
   <li><a href="/inquiry/index.html">物件情報以外のお問合せ</a></li>
   </ul>
   <ul>
     <li><a href="/mlit/index.html">国土交通省最新の動き</a> ｜ </li>
     <li><a href="/company/index.html">不動産会社の皆様へ</a> ｜ </li>
   <li><a href="http://www.kindaika.jp/center" target="_blank">（公財）不動産流通推進センター</a> ｜ </li>
   <li><a href="/association/index.html">参加団体</a></li>
   </ul>
<address>Copyright 2015 THE REAL ESTATE TRANSACTION PROMOTION CENTER FOUNDATION All Rights Reserved.</address>
</div><!--フッター end-->
</div>
<!--all_cont end-->


</body>
</html>